{
  "presets": [
    ["env", { "modules": false }]
  ]
  ["transform-imports", {
          "vuetify": {
            "transform": "vuetify/es5/components/${member}",
            "preventFullImport": true
          }
      }
  ]
}
