#bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    min-height: 120px;
    background-color: #22a7d0;
    max-width: 100%;
    min-width: 100%;
}

#AddStickerButton {
    margin:1%;
    width: 153px;
    height: 90px;
    background-color: #22a7d0;
    border:1px #000000 dashed;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.AddStickerButton{
    width: 30px;
    height: 30px;
}
.AddStickerButton:hover{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#start {
    display: flex;
    flex-grow: 1;
    padding: 1%;
    height: 100%;
    max-height: 100px;
    overflow-y: scroll;
}

#start .listIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}