/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: #22a7d0
  accent: #ff802a
  secondary: #fcfcfc
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $purple.base
}
