#BigSticker {
    display: flex;
    height: 70%;
    width: 70%;
    opacity: 1;
}

#ToDo, #UserList {
    display: flex;
    align-self: flex-end;
    height: 85%;
    width: 25%;
    background-color: green;
}

#ButtonCheckDiv, #ButtonUsersDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 70%;
    width: 7%;
    opacity: 1;
}

.CurcleButton {
    height: 45px;
    width: 45px;
    margin-top: 2%;
    border-radius: 100%;
    border: 0px;
    background-color: #22a7d0;
}
#RemoveSticker {
    margin-top: 50%;
}
#GetCheckListImg
{
    width: 25px;
    height: 25px;
}
#AddUser
{
    width: 26px;
    height: 28px;
  
}
#PaintBucket{
    width: 27px;
    height: 27px;
}
#RemoveStic
{
    width: 26px;
    height: 23px;
}

/*shadow style for button*/
#GetCheckList,
#GetUsersList,
#ChangeColour,
#RemoveSticker
{
    border: 0px;
    box-shadow: 0px 3px 15px #000000,
    inset 0 0px 0 rgba(0, 0, 0, 0.6),
    0 5px 0 rgba(0,0,0,.1),
    inset 0 0 2px rgba(0,0,0,.1);
    cursor: pointer;
}
#GetCheckList:hover,
#GetUsersList:hover,
#ChangeColour:hover,
#RemoveSticker:hover
{
background-color:#ff802a;
}
