html, body, #root, #App {
min-height: 800px;
min-width: 1300px;
}

#App {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: left;
  overflow: hidden;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
